# Project: Tidy Data

## Student Name: Olga Kriyokov

Our task was to choose any three of the “wide” datasets identified by the classmates in the Week 9 Discussion item

The 3 datasets that I chose to dissect: 

1. Natan Bienstock: Student Test Data. Self created data sete that contain grades for students in a math class
   
2. Jacob Goodman: 2020 Democratic Presidential Nomination 
   Source - https://www.realclearpolitics.com/epolls/2020/president/us/2020_democratic_presidential_nomination-6730.html

3. Jeeho Bae: destination reviews - The reviews falling in 6 categories among destinations across South India were considered, 
   and the count of reviews in each category for every reviewer (traveler) is captured.
  

Working on each data set, I followed the next tasks: 
1. Create a .CSV file that includes all of the information included in the dataset
2. Read the information from the .CSV file into a Jupyter Notebook, combining and
   reshaping data in Pandas to tidy and transform your data.
3. Perform the analysis requested in the discussion item. 

* the questions of each data set will be presented separetly

In [29]:
import pandas as pd
import numpy as np

# Student Test Data by Natan Bienstock

With this dataset we can answer questions such as:

1. Which student had the highest average test grades?

2. Which student had the greatest range of test grades?

3. Which test had the highest grades?

I filtered the data, and dropped rows with NAN values, after that, I presented final filtered data version

In [30]:
data=pd.read_csv('Test results.csv')

In [31]:
print (data.head(2))

            Name  Test 1  Test 2  Test 3  Test 4  Unnamed: 5  Unnamed: 6
0  Reggie miller    97.0      80    87.0      91         NaN         NaN
1     Dan Bonner    76.0      68    80.0      81         NaN         NaN

In [32]:
cols_to_keep=['Name', 'Test 1', 'Test 2', 'Test 3', 'Test 4']
filtered_data=data[cols_to_keep]
print (filtered_data.head(2))

            Name  Test 1  Test 2  Test 3  Test 4
0  Reggie miller    97.0      80    87.0      91
1     Dan Bonner    76.0      68    80.0      81

In [33]:
filtered_data=filtered_data.dropna(how='all') 
print (filtered_data)

            Name  Test 1  Test 2  Test 3  Test 4
0  Reggie miller    97.0      80    87.0      91
1     Dan Bonner    76.0      68    80.0      81
2    Steve Smith    84.0      75     NaN      86
3  Charls Barkey     NaN      89     NaN      76
4    Kenny Smith    80.0      81    79.0      85
5   Chris Webber    75.0      75    76.0      92
6     Jalen Rose    80.0      85    84.0      83
7    Jim Jackson    92.0      91    94.0      95

### Question #1 -  Which student had the highest average test grades?

In [34]:
filtered_data['total']=filtered_data.sum(axis=1)
print ("highest average test grades: ",filtered_data['Name'].loc[filtered_data[['total']].idxmax()] )

highest average test grades:  7    Jim Jackson
Name: Name, dtype: object

 ### Question #2 - Which student had the greatest range of test grades?
 
 In this question, I tweaked NAN's values in order to get maximum and minimum values

In [35]:
filtered_data.fillna(-100, inplace=True)
filtered_data['Max'] = filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].max(axis=1)
filtered_data.replace(-100,101,inplace=True)
filtered_data['Min'] = filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].min(axis=1)
filtered_data.replace(101,np.nan,inplace=True)
filtered_data['Diff']=filtered_data['Max']-filtered_data['Min']
print (filtered_data)
print ("greatest range of test grades: ",filtered_data['Name'].loc[filtered_data[['Diff']].idxmax()] )

            Name  Test 1  Test 2  Test 3  Test 4  total   Max   Min  Diff
0  Reggie miller    97.0      80    87.0      91  355.0  97.0  80.0  17.0
1     Dan Bonner    76.0      68    80.0      81  305.0  81.0  68.0  13.0
2    Steve Smith    84.0      75     NaN      86  245.0  86.0  75.0  11.0
3  Charls Barkey     NaN      89     NaN      76  165.0  89.0  76.0  13.0
4    Kenny Smith    80.0      81    79.0      85  325.0  85.0  79.0   6.0
5   Chris Webber    75.0      75    76.0      92  318.0  92.0  75.0  17.0
6     Jalen Rose    80.0      85    84.0      83  332.0  85.0  80.0   5.0
7    Jim Jackson    92.0      91    94.0      95  372.0  95.0  91.0   4.0
greatest range of test grades:  0    Reggie miller
Name: Name, dtype: object

### Question #3 -  Which test had the highest grades?

In [36]:
temp=filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].mean(axis=0)
print ("all:\n",temp)
print ("max: ",max(temp), "\n Answer is Test 4")

all:
 Test 1    83.428571
Test 2    80.500000
Test 3    83.333333
Test 4    86.125000
dtype: float64
max:  86.125
 Answer is Test 4

Conclusion -
Jim Jackson has the highest average test grades

Reggie miller has the best range of test grades. 

And Test 4 had the highest grades

# 2nd DataSet Realclear Politics - 2020 Democratic Presidential Nomination
#### By Jacob Goodman

In [1]:
data=pd.read_csv('RealclearPolitics.csv')

NameError: name 'pd' is not defined

In [38]:
data.head(2)

,Poll,Date,Biden,Sanders,Harris,O'Rourke,Warren,Booker,Klobuchar,Buttigieg,Hickenlooper,Castro,Inslee,Gillibrand,Spread
0,RCP Average,2/19 - 3/18,29.4,23.4,10.4,8,6.6,4,2.3,1.3,1,0.8,0.8,0.4,Biden +6.0
1,Emerson,3/17 - 3/18,26.0,26.0,12.0,11,8.0,3,1,3,1,1,1,0,Tie

### Question 1 - Does any of the candidates are generating any momentum (positive gain)
### Question 2 - By looking at the variability between polls to try and understand what kind of margin of error might exist in the data.

In [39]:
old=data.iloc[9]
new=data.iloc[11]
#old-new
print ("Biden is the candidate generating momentum")
print ("Considering the empty values, I can derive that the data isn't complete for accurate analysis")

Biden is the candidate generating momentum
Considering the empty values, I can derive that the data isn't complete for accurate analysis

# 3rd Data set - destination reviews
### by Jeeho Bae

In [21]:
data=pd.read_csv('userid.csv')

In [27]:
data.head(10)

  user ID  Sports  religious  Nature  Theatre  Shopping  picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

## Looking at this data, we can see that there are no abnormal values or values that are not possible,
## due to that, this data Set is already clean

### Q1 which class among the six has the highest frequency of reviews by the users

In [26]:
print (data.sum(axis=0))
print ("So theatre has highest frequency of reviews by the users\n\n\n")

user ID      User 1User 2User 3User 4User 5
Sports                                   10
religious                               355
Nature                                  383
Theatre                                 386
Shopping                                358
picnic                                  385
dtype: object
So theatre has highest frequency of reviews by the users

### Q2. I added another question to Jeeho's data set : what is the average score in each category

In [25]:
print ("Average Scores\n")
print (data.mean(axis=0))

Average Scores

Sports        2.0
religious    71.0
Nature       76.6
Theatre      77.2
Shopping     71.6
picnic       77.0
dtype: float64

As it shown, Picnic subject has the highest average score review